<main>
    <div class="contenedor">
        <div>
            <img [src]="libro2?.image_url" alt="{{ libro2?.title }}">
        </div>
        <div class="descripcion">
            <div>
                <h1>{{libro2?.title}}</h1>
                <h4>{{libro2?.authors}}</h4>
                <h2>$ {{precio?.precio}}</h2>
            </div>
            <div class="metodos">
                <a href="">Costo de Envio</a>
                <a href="">Medios de Pago</a>
            </div>
            <div>
                <a class="boton-compra" (click)="agregarCarrito(libro2!, precio!.precio)">COMPRAR</a>
                <!--<a class="boton-fav" (click)="agregarFavorito(libro2.id)"></a>-->
            </div>ProductoComponent
        </div>
    </div>

    <section >
        <div class="descripcion2">
            <span>DESCRIPCION</span>
        </div>
        <div class="sinopsis">
            <h4>Sinopsis del Libro</h4>
            <p>{{libro2?.description}}</p>
        </div>
    </section>
    <section>
        
    </section>

</main>