<div *ngIf="flag1; 
then thenBlock1
else elseBlock1"></div>

<ng-template #thenBlock1>
    <h1>Información del usuario</h1>
    <p id="nombreCompleto" >{{usuarioActual.nombre}} {{usuarioActual.apellido}}</p>
    <p id="correoElectronico">{{usuarioActual.mail}}</p>
    <button href="" routerLink="/historial">Historial</button>
    <p>
    <button type="button" (click)="mostrar(1)" class="cambiar">Cambiar datos</button>
    <button type="button" (click)="mostrar(2)">Borrar Cuenta</button>
</p>


</ng-template>

<ng-template #elseBlock1>
    <div *ngIf="flag2; 
    then thenBlock2
    else elseBlock2"></div>

    <ng-template #thenBlock2> 
        <app-modificacion (newOpcion)="mostrar($event)"></app-modificacion>
    </ng-template>
    <ng-template #elseBlock2>
        <app-eliminar (newOpcion)="mostrar($event)"></app-eliminar>
    </ng-template>
</ng-template>