<main>
    <section class="contenedor-principal">
        <div class="filter-container">
            <app-sidebar></app-sidebar>
        </div>
        <div class="contenedor-lista-libros">
            <h2>Todos nuestros libros</h2>
            <div class="lista-libros">
                <div class="libro" *ngFor="let item of listadoLibros">
                    <a href="">
                        <img class="imagen-libro" [src]="item.image_url" alt="{{ item.title }}">
                    </a>
                    <div class="product">
                        <h3>{{item.title}}</h3>
                        <p>$15000</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


<!-- <h3>Filtrar Libros por Género</h3>

<label for="genero">Selecciona un género:</label>
<select class="genre" id="genero">
    <option value="">Todos los géneros</option>
    <option value="Ficción">Ficción</option>
    <option value="No Ficción">No Ficción</option>
    <option value="Misterio">Misterio</option>
    <option value="Ciencia Ficción">Ciencia Ficción</option>
    Agrega más opciones según los géneros que tengas 
</select> -->