.imgagen-libro{
    width: 15 rem;
    height: 15 rem;
}

.informacion{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: right;
}

.contenedor-lista-fav{
    
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 100%;
   
}

.eliminar{
    align-items: right;
    margin-bottom: 30px;
}

.favoritos div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
