<main class="contenedor">
    <h1>Carrito</h1>
    <table class="tablaCarr">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Edicion</th>
                <th>Cantidad</th>
                <th>SubTotal</th>
            </tr>
        </thead>
        <tbody id="libros">
            <tr *ngFor="let item of listaItemsCarrito">
                <td>{{item.titulo}}</td>
                <td>{{item.edicion}}</td>
                <td>{{item.cantidad}}</td>
                <td>{{item.subtotal | number: '.2'}}</td>
            </tr>
        </tbody>
    </table>
    <h2>Total: ${{calcularTotalAPagar()}}</h2>
    <div class="sel-tarjeta">
        <label class="label" for="tarjeta">Tarjeta:</label>
        <select name="tarjetas" id="tarjeta">
            <option value="" disabled selected>-- Numero tarjeta --</option>
            <option value="num">{{user?.tarjetaCredito?.numeroTarjeta}}</option>
        </select>
    </div>
    <div class="cont-btn">
        <a (click)="viajarATarjeta()" class="btnMetodo">CAMBIAR TARJETA</a>
        <a class="btnCompra" (click)="verificarTrajeta()">COMPRAR</a>
        <a (click)="viajarATarjeta()" class="btnMetodo">AGREGAR TARJETA</a>

    </div>
</main>