.recomendations{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.contenedor{
    display: flex;
    justify-content: center;
    width: 30%;
    margin: 0 auto;
    gap: 2rem;
}
.contenedor div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

div img{
    height: 20rem;
    width: 15rem;
    
}

.product{
    width: 100%;
    height: 100%;
}

h2{
    margin: 2rem;
}

h3{
    text-align: center;
}


@media only screen and (max-width: 414px) {
    .contenedor {
      width: 100%; /* Ocupa todo el ancho disponible para pantallas pequeñas */
    }
    
    .libro {
      flex-direction: column; /* Apila los elementos en pantallas pequeñas */
      align-items: center; /* Ajusta la alineación de los libros */
    }
    
    div img {
      height: auto; /* Hace que la altura de la imagen sea automática para pantallas pequeñas */
      width: 100%; /* Ocupa todo el ancho disponible para pantallas pequeñas */
    }
  }


  @media (max-width: 900px) {
    .contenedor{
        flex-direction: column;
        align-items: center;
    }
  }