<main>
    <div class="recomendations">
        <h2>Recomendaciones del día</h2>
        <div class="contenedor">
            <div class="libro" *ngFor="let item of listadoLibros; let i=index">
                <a href="" [routerLink]="['/producto',item.id]">
                   <img [src]="item.image_url" alt="{{ item.title }}"> 
                </a>
                <div class="product">
                    <h3>{{item.title}}</h3>
                    <p>{{ listadoStock && listadoStock[i] ? listadoStock[i].precio : '' }}</p>
                </div>
            </div>
        </div>
    </div>
</main>