<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<header>
    <nav class="navegacion">
        <div class="imagen"></div>
        <div class="search-container">
            <input type="text" class="search-input" placeholder="Ingrese un libro a buscar">
            <button class="search-icon"><i class="fa fa-search" routerLink=""></i></button>
        </div>
        <div class="search-container">
            <a href="">Ingresar/Registrarme</a>
            <a href="">Lista de deseados</a>
            <a href="">Carrito</a>
        </div>
    </nav>

</header>

<nav class="links">
    <div>
        <a href="#" routerLink="/libros">Libros</a>
        <a href="">Catalogo</a>
        <a href="">Musica</a>
        <a href="">Contacto</a>
        <a href="">Mi Cuenta</a>
    </div>

</nav>