.search-container {
    display: flex;
    align-items: center;
}

.search-input {
    width: 35rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-icon {
    padding: 10px;
    background-color: #727a83;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


header{
    height: 8rem;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.navegacion{
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.search-container a{
    margin-left: .5rem;
    margin-right: .5rem;

}

.links{
    padding: .5rem;
    background-color: #3f4245;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links div{
    width: 70%;
}

