/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body{
    background-color: beige;
    font-family: 'Rubik', sans-serif;
}
a{
    text-decoration: none;
}
.links a{
    margin-right: 1rem;
    color: rgba(233, 227, 227, 0.861);
}

.libro a{
    transition: 1s;
}

.libro a:hover{
    transform: scale(1.1);
    transition: 1s;
}
.logo{ /* de navbar */
    /* background-image: url(./fondo.png);
    width: 10rem;
    background-repeat: no-repeat;
    background-size: cover; */
    width: 17rem;
    height: 9rem;
}