    <h3>FILTRAR POR PRODUCTO</h3>
    <div>
        <a href="" [routerLink]="['/categoria', 'Horror']">Terror</a>
        <hr>
        <a href="" [routerLink]="['/categoria', 'young-adult']">Jovenes</a>
        <hr>
        <a href="" [routerLink]="['/categoria', 'Fiction']">Ficcion</a>
        <hr>
        <a href="" [routerLink]="['/categoria', 'science-fiction']">Ciencia Ficcion</a>
        <hr>
        <a href="" [routerLink]="['/categoria', 'Fantasy']">Fantasia</a>
        <hr>
        <a href="" [routerLink]="['/categoria', 'Classics']">Clasicos</a>
        <hr>
        <a href="" [routerLink]="['/categoria', 'Historical']">Historico</a>
        <hr>
        <a href="" [routerLink]="['/categoria', 'read-for-school']">Escolares</a>
        <hr>
        <a href="" [routerLink]="['/categoria', 'Romance']">Romance</a>
        <hr>
        <a href="" [routerLink]="['/categoria', 'Childrens']">Infantiles</a>
        <hr>
        <a href="" [routerLink]="['/categoria', 'Literature']">Literatura</a>
        <hr>
        <a href="" [routerLink]="['/categoria', 'Humor']">Humor</a>
        <hr>
        <a href="" [routerLink]="['/categoria', 'Novels']">Novelas</a>
        <hr>
        <a href="" [routerLink]="['/categoria', 'Thriller']">Thriller</a>
        <hr>

    </div>

