<form action="" id="modif">
    <label>
        <p>Ingrese su nuevo nombre
        <input type="text" id="nombre" value="">
      </p>
      <p>Ingrese su nuevo apellido
        <input type="text" id="apellido" value="">
      </p>
      <p>Ingrese su nuevo correo electrónico
        <input type="text" id="mail" value="" >
      </p>
      <p>Ingrese su nueva contraseña
        <input type="text" id="contra" value="">  
      </p>
      <p>Ingrese su DNI
        <input type="text" id="dni" value="">
      </p>
      <p><button type="submit" (click)="modificar($event)" class="guardar">Guardar cambios</button>
        <button type="button" (click)="opcion(0)">Volver</button></p>