<footer>
    <div class="footer-container">
        <div class="footer-column">
            <h3>KER LIBRERIA</h3>
            <ul class="links">
                <li><a href="#">Locales</a></li>
                <li><a href="#">Franquicias</a></li>
                <li><a href="#">Políticas de privacidad</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>GUÍA DE COMPRA</h3>
            <ul class="links">
                <li><a href="#">Preguntas frecuentes</a></li>
                <li><a href="#">Promociones para las sucursales</a></li>
                <li><a href="#">Costos y tiempos de envío</a></li>
                <li><a href="#">Devoluciones</a></li>
                <li><a href="#">Cancelaciones</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>PRODUCTOS</h3>
            <ul class="links">
                <li><a href="#">Libros por Genero</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>CONTACTANOS</h3>
            <ul class="links">
                <li ><a href="#">Trabajar con nosotros</a></li>
                <li><a href="#">Consultas</a></li>
            </ul>
        </div>
    </div>
</footer>